.blog-post-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 1rem;
}
.blog-post {
  max-width: 50rem;
  width: 100%;
}

.blog-post header h1 {
  font-size: 2rem;
}
.blog-post__byline {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 2rem;
}
.blog-post__byline address {
  font-size: 1.2rem;

}
.blog-post__byline img {
  border-radius: 0.3rem;
  margin-top: 0.3rem;
}
.blog-post__byline time {
  font-size: 1rem;
  margin-top: 1rem;
}

.blog-post figure {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}
.blog-post figure img {
  max-width: 100%;
  object-fit: contain;
}
.blog-post figcaption {
  font-size: 0.9rem;
  padding: 0 1rem;
}
.blog-post figure.blog-post__figure_background img {
  background-color: #fff;
}
