.research {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.research header {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.research header img {
  margin-left: 15px;
}
.research h2 {
  font-size: 1.2em;
}
.research section {
  margin: 30px 0;
  max-width: 900px;
  width: calc(100vw - 40px);
}

.research figure {
  margin: 0;
}
.research figcaption {
  text-align: center;
}
.research section section:not(:last-of-type) {
  margin-bottom: 50px;
}

.research__inner section:not(:last-of-type) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding-bottom: 25px;
}

.research__links {
  margin-bottom: 30px;
}
.research__links > a {
  margin-right: 10px;
}

.research__image-svg {
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 2px;
  height: auto;
  width: 100%;
}
