.news {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.news header {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.news header img {
  margin-left: 15px;
}
.news h2 {
  font-size: 1.2em;
}
.news section {
  margin: 30px 0;
  max-width: 900px;
  width: calc(100vw - 40px);
}

.news__articles h2 {
  margin-top: 40px;
}

.news__articles h3 {
  color: var(--accentColor);
}

.news__years {
  display: flex;
  flex-wrap: wrap;
  margin: -0.3rem;
}
.news__years > a {
  padding: 0.3rem;
}

.news__list {
  list-style: none;
  padding-left: 0;
}
.news__list > li:not(:last-of-type) {
  margin-bottom: 40px;
}
